.dpad {
    z-index: 10;
    position: absolute;
    width: min-content;
    height: min-content;
    aspect-ratio: 1 !important;
    bottom: 5dvh;
    left: 5dvw;
    background: rgba(100, 100, 100, 0.5);
    border-radius: 50%;
    border: 1px solid white;
    display: grid;
    gap: 0 2dvw;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
        "dpadLeft dpadUp dpadRight"
        "dpadLeft dpadSelect dpadRight"
        "dpadLeft dpadDown dpadRight";
}

.dpadButton {
    background: transparent;
    text-shadow: 0 0 5px white;
    font-size: clamp(1rem, 2dvw ,4rem);
    border: none;
    user-select: none;
    transition: all .5s ease;
    &:active{
       color: gray;
    }
}

.dpadUp {
    grid-area: dpadUp;
}

.dpadRight {
    grid-area: dpadRight;
    border-radius: 0% 100% 100% 0%/ 50% 50% 50% 50%;
}

.dpadDown {
    grid-area: dpadDown;
}

.dpadLeft {
    grid-area: dpadLeft;
    border-radius: 100% 0% 0% 100% / 50% 50% 50% 50%;
}

.dpadSelect {
    grid-area: dpadSelect;
    font-size: clamp(1rem,4vw,4rem) !important;
}